.container.about
  .row
    .col-lg-8.col-lg-offset-2
      %section
        .page-header#section-about
          %h2
            About

        .media
          %a.media-left{:href=>"#"}
            =image_tag 'alan.jpg', {:class => 'img-responsive img-thumbnail'}
          .media-body
            %h4 Wellness is an obtainable goal...

            %p
              and we can help you to achieve it. Whether you’ve come here to lose
              weight, shape up or manage your health you’re in the right place. Our Focused Fitness NYC programs
              are specifically designed to meet your individual needs. Each client is privately evaluated and even if
              you choose one of our proven programs we tailor it to your needs, likes and dislikes. Your health is
              about you not us and we’re here to help you achieve your goals not fit you into a preset exercise mold.
            %p
              Focused Fitness NYC is about choice, specifically choosing a healthy, manageable, sustainable lifestyle.
              Why set yourself up to fail? Many people join a health club, show up the first day and never come back.
              Why? Mostly because of two factors; intimidation and lack of knowledge. They look around at a room
              full of healthy slim in shape people doing cartwheels over the equipment most of which they can’t even
              figure out how to use. Those who get past the first day usually make themselves so sore they never
              come back. And that’s what the health club wants, your money not your attendance.
            %p
              Focused Fitness NYC offers you a different kind of choice. You’re not joining a health club. You’re
              enlisting the aid of a trained professional who can guide you gently down a path to wellness. It took
              years to get into the situation you’re in. You need to find your way back and we can lead you down that
              path. You can meet with us at any of our various private gymnasium locations, at your own in building
              gym or at your home. You can meet with us as many times a week as you deem necessary to achieve
              your goals and we’ll provide you with a program for those days we don’t see you to keep you moving
              forward.
            %p
              Unlike health club training Focused Fitness NYC offers you an overall lifestyle program to move you
              forward. And we change it up so you don’t get bored. If you want to work out with a buddy we will
              encourage you to as we see the added benefit in working in pairs.
            %p
              As part of your choice to redirect your health back onto a path of wellness Focused Fitness NYC also
              offers you nutritional counseling as part of your exercise program if you want it. As a professionally
              trained chef, nutritional expert and diabetic I understand the challenges you face in your relationship
              with food. We don’t believe in diets and we certainly don’t believe in overwhelming you. We believe
              with good training you will make the necessary changes to your eating habits to stay on a path to
              wellness all in your own good time. One day you’ll look at that donut in your hand and say “Why am
              I eating this?” On that day and all the others before and after we’ll be there to help you develop a
              manageable relationship with food.
            %p
              Take a look at our basic programs. Check out our other videos. Leave your name and email address for
              our blog and our tweets. Call us to schedule your first session. Your evaluation and introductory session
              are free. Let us help you help yourself to be the person you want to be.