.container.faq
  .row
    .col-lg-6.col-lg-offset-3

      %section
        .page-header#section-testimonials
          %h2
            FAQ
            %small
              A list of frequent questions

      .panel-group#accordion
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{:href => "#collapse-1", :"data-toggle" => "collapse", :"data-parent" => "#accordion"}
                faq 1
          #collapse-1.panel-collapse.collapse.in
            .panel-body
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum soluta necessitatibus eaque nesciunt voluptates quod quos. Animi ipsam vero est quam ipsum laudantium dignissimos modi magnam optio consequatur id quia!

        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{:href => "#collapse-2", :"data-toggle" => "collapse", :"data-parent" => "#accordion"}
                faq 2
          #collapse-2.panel-collapse.collapse
            .panel-body
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum soluta necessitatibus eaque nesciunt voluptates quod quos. Animi ipsam vero est quam ipsum laudantium dignissimos modi magnam optio consequatur id quia!

        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{:href => "#collapse-3", :"data-toggle" => "collapse", :"data-parent" => "#accordion"}
                faq 3
          #collapse-3.panel-collapse.collapse
            .panel-body
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum soluta necessitatibus eaque nesciunt voluptates quod quos. Animi ipsam vero est quam ipsum laudantium dignissimos modi magnam optio consequatur id quia!