.jumbotron
  .container.text-center
    %h1
      Focused Fitness NYC
      %small
        Achieve your goals
    %p
      Wellness is an obtainable goal and we can help you to achieve it.

    .btn-egroup
      =link_to "Get in touch", new_message_path, :class=>"btn btn-lg btn-primary"
      =link_to "Programs", programs_path, :class => "btn btn-lg btn-primary"

/testimonials
.container
  .row
    .col-lg-9
      %section
        .page-header#section-testimonials
          %h2
            Testimonials
            %small
              This is what my customers are saying about me.

        .row
          .col-lg-4
            %blockquote
              %p
                I came to Focused Fitness NYC a couple years ago.  I was nearly 400 lbs and could
                barely walk.  FFNYC prepared me for bariatric surgery.  I became strong enough to
                recover from the operation quickly.  I have lost over 100 lbs and am able to walk
                normally and exercise nearly every day.  I owe my life to FFNYC
              %footer
                Joel
          .col-lg-4
            %blockquote
              %p
                FFNYC helped me to get on the right track.  I had a history of exercise but at 50
                wasn’t getting the bang for the buck I once did.  My workouts weren’t maintaining
                my muscle tone or my weight.  FFNYC taught me that exercise changes as we age.  I
                was following a program appropriate for someone much younger, heavy cardio and
                very little resistance.  FFNYC’s body resistance program was what I needed.  In four
                months I learned enough to continue on my own.
              %footer
                Diane
          .col-lg-4
            %blockquote
              %p
                I hated exercise all my life.  I didn’t like to sweat and I didn’t want to feel the pain of
                waking up my muscles.  In the meantime I developed diabetes, high blood pressure
                and other metabolic problems.  FFNYC started me slowly so I would come back.
                After two years I moved away but I’ve continued to exercise the FFNYC way and
                have made it a part of my life.
              %footer
                Edward

      %section.programs
        .page-header#section-programs
          %h2
            Programs
            %small
              Check out my various programs

        .row
          .col-md-4
            =image_tag 'program3.jpg', {:class => 'img-responsive'}
          .col-md-8
            %h3
              Diabetes Management and/or Prevention
            %p
              Are you diabetic or ‘pre-diabetic? Does diabetes run in your family?  Let someone who has traveled that road help you.  Our diabetes management and prevention program has proven results.
              =link_to "Read More", programs_path

        %hr

        .row
          .col-md-4
            =image_tag 'elderly.jpg', {:class => 'img-responsive'}
          .col-md-8
            %h3
              Maintaining General Health past 50
            %p
              In reasonably good health but want to get back to feeling great?  It’s easier than you think.  We will design an exercise program for you both in and out of the gym to meet your needs, exercise preferences and schedule while optimizing your time; once, twice or three times a week.  We specialize in mature adults.
              =link_to "Read More", programs_path


        %hr

        .row
          .col-md-4
            =image_tag 'bodysculpting.jpg', {:class => 'img-responsive'}
          .col-md-8
            %h3
              Body Sculpting for Women
            %p
              At any age women seek to keep their bodies healthy and trim.  Light resistance exercise with both body weight and light free weights is the best way to achieve that goal in conjunction with the correct amount of cardio.
              =link_to "Read More", programs_path

      /end programs



    .col-lg-3
      .panel.panel-info
        .panel-heading
          %h3.panel-title
            Alan Sidransky
        .panel-body
          %p
            =image_tag 'alan.jpg', {:class => 'img-responsive'}
          %p
            Wellness is an obtainable goal and we can help you to achieve it. Whether you’ve come here to lose
            weight, shape up or manage your health you’re in the right place. Our Focused Fitness NYC programs
            are specifically designed to meet your individual needs. Each client is privately evaluated and even if
            you choose one of our proven programs we tailor it to your needs, likes and dislikes. Your health is
            about you not us and we’re here to help you achieve your goals not fit you into a preset exercise mold.
            =link_to "Read More", about_path
      / %span.glyphicon.glyphicon-search

