.container.programs
  .row
    .col-lg-8.col-lg-offset-2
      %section
        .page-header#section-programs
          %h2
            Programs
            %small
              Here are the programs I offer
      .media
        %a.media-left.media-middle{:href=>"#"}
          %img{:src=>""}
        .media-body
          %h4.media-heading
            Program #1
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi architecto molestias accusantium omnis odit cumque neque nostrum suscipit optio laudantium qui error delectus unde corporis rem consequuntur quidem. Vero beatae.

      .media
        %a.media-left.media-middle{:href=>"#"}
          %img{:src=>""}
        .media-body
          %h4.media-heading
            Program #2
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi architecto molestias accusantium omnis odit cumque neque nostrum suscipit optio laudantium qui error delectus unde corporis rem consequuntur quidem. Vero beatae.
